* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.container-fluid {
    height: 100%;
    position: relative;
}

.sticky-help {
    height: 4rem;
    width: 4rem;
    position: sticky;
    top: 39rem;
    left: 85rem;
}

.sticky-help img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.sticky-menu{
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: sticky;
    top: 21rem;
    left: 92rem;
    width: 30px;
}
.social-link{
    border: 1px solid #000;
    padding: 2px;
    width: 30px;
    border-radius: 7px;
}
.social-link img{
    height: 24px;
    width: 24px;
}
nav{
    position: fixed;
    top: 0px;
    left: 1px;
    width: 100%;
}
.nav-wrp {
    background: #6F6AF7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1rem;
}

.nav-logo {
    width: 9.4rem;
}

.nav-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-menu {
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    gap: 3rem;
}

.nav-menu li {
    font-size: 1.2rem;
}

.search-bar {
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    padding: 0.3rem 0.5rem;
    gap: 1rem;

}

.search-bar>input {
    border: none;
    outline: none;
}

.search-icn {
    height: 1rem;
    width: 1rem;
}

.search-icn img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.ham-menu {
    height: 2rem;
    width: 2rem;
}

.ham-menu img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* hero sec */

.survey-wrp {
    width: 70%;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: rem;
    gap: 3rem;
}

.hero-img {
    width: 30vw;
    height: 48vh;
}

.hero-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.survey-box{
    background-color: #E5D8FF;
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    padding: 1rem;
    width: 70vw;
    height: 49vh;
    padding-bottom: 5rem;
}
.survey-box p{
    font-size: 1.3rem;

}

.cards-wrp{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 0.1rem 2rem;
    gap: 3rem;
}
.card{
    width: 23vw;
    height:10vh;
    box-shadow: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
}
.lightBlue{
    background: rgba(146, 157, 255, 1);
}
.darkblue{
    background:rgba(115, 76, 242, 1);
}
.lightpink{
    background: rgba(210, 136, 255, 1);
}
.black{
    background: rgba(0, 0, 0, 1);
}
.details{
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.details-wrp{
    width: 70%;
    margin: auto;
    background: rgba(72, 62, 255, 1);
    display: flex;
    justify-content: space-around;
    border-radius: 0.8rem;
    gap: 50px;
    padding: 2rem;
}
.details-lft{
    width: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.option{
    width: 13vw;
    height: 9vh;
    border-radius: 0.4rem;
    background-color: transparent;
   border:1px solid #fff;
    color: #fff;
    text-align: center;
    padding:22px;
}
.active{
    background-color: #BCE0F6;
    color: #000;
}
.right{
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: 1rem;
    margin-top: 1rem;
    position: relative;
    width: 46vw;
}
.right h2{
    margin-bottom: 12px;
}
.right ul>li{
    margin: 0px 0px 10px 12px;
    color: #143565;
}
.next{
    position: relative;
    bottom: -1rem;
    right: -30rem;
    color: #fff;
    background-color: #000;
    padding: 0.5rem 1rem;
}