* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container-fluid {
    height: 100%;
    position: relative;
}

.sticky-help {
    height: 4rem;
    width: 4rem;
    position: sticky;
    top: 89vh;
    left: 78vw;
    z-index: 99;
}

.sticky-help img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.sticky-menu{
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: sticky;
    top: 13rem;
    left: 91.5rem;
    width: 40px;
    margin-top: 10px;
}
.social-link{
    border: 1px solid #000;
    padding: 2px;
    width: 40px;
    border-radius: 7px;
}
.social-link img{
    height: 32px;
    width: 32px;
}
nav{
    position: fixed;
    top: 0px;
    left: 1px;
    width: 100%;
    z-index: 999;
}
.nav-wrp {
    background: #6F6AF7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1rem;
    color:#fff;
}

.nav-logo {
    width: 9.4rem;
}

.nav-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-menu {
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    gap: 3rem;
}

.nav-menu li {
    font-size: 1.2rem;
}

.search-bar {
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    padding: 0.3rem 0.5rem;
    gap: 1rem;

}

.search-bar>input {
    border: none;
    outline: none;
}

.search-icn {
    height: 1rem;
    width: 1rem;
}

.search-icn img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.ham-menu {
    height: 2rem;
    width: 2rem;
}

.ham-menu img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container{
    position: relative;
}
/* hero sec */
.hero-section{
    padding-bottom: 6vh;
}
.survey-container{
    padding: 0.5rem 0rem 0rem 0rem;
}
.survey-wrp {
    width: 70%;
    height: 50vh;
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: 5rem;
    gap: 3rem;
}

.hero-img {
    width: 30vw;
    height: 48vh;
    box-shadow: rgba(0, 0, 0, 0.44);
    border-radius: 0.8rem;
    overflow: hidden;
}

.hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.survey-box{
    background-color: #E5D8FF;
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    padding: 1rem;
    width: 70vw;
    height: 49vh;
    padding-bottom: 9rem;
}
.survey-box p{
    font-size: 1.3rem;

}

.cards-wrp{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 0.1rem 2rem;
    gap: 3rem;
}
.card{
    width: 23vw;
    /* height:10vh; */
    box-shadow: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 2vh 1vw;
    border-radius: 0.3rem;
}
.lightBlue{
    background: rgba(146, 157, 255, 1);
}
.darkblue{
    background:rgba(115, 76, 242, 1);
}
.lightpink{
    background: rgba(210, 136, 255, 1);
}
.black{
    background: rgba(0, 0, 0, 1);
}
.details{
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.details-wrp{
    width: 70%;
    margin: auto;
    background: rgba(72, 62, 255, 1);
    display: flex;
    justify-content: space-around;
    border-radius: 0.8rem;
    gap: 50px;
    padding: 3vh 2vw;
}
.details-lft{
    width: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3vh 3vw;
}
.option{
    width: 13vw;
    /* height: 9vh; */
    border-radius: 0.4rem;
    background-color: transparent;
   border:1px solid #fff;
    color: #fff;
    text-align: center;
    padding:22px;
    font-weight: 800;
    text-transform: capitalize;
}
.active{
    background-color: #BCE0F6;
    color: #000;
}
.right{
    background-color: #fff;
    padding: 8vh 4vw;
    border-radius: 1rem;
    /* margin-top: 1rem; */
    position: relative;
    width: 46vw;
    /* height: 40vh; */
    margin-left: 3vw;
}
.right h1{
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
}
.right ul>li{
    margin: 0px 0px 10px 12px;
    color: #143565;
    font-family: 'Roboto', sans-serif;
}
.next{
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    color: #fff;
    background-color: #000;
    padding: 0.5rem 1rem;
}